<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> <plist version="1.0"> <dict> <key>items</key> <array> <dict> <key>assets</key> <array> <dict> <key>kind</key> <string>software-package</string> <key>url</key> <string>http://192.168.91.22:8082/ipa/495/wky_v2.10.0.495_2019-09-04_debug.ipa</string> </dict> </array> <key>metadata</key> <dict> <key>bundle-identifier</key> <string>helloworld.com.cn</string> <key>bundle-version</key> <string>build 26</string> <key>kind</key> <string>software</string> <key>title</key> <string>wky beta</string> </dict> </dict> </array> </dict> </plist>
